body {
  background-color: cyan;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.row {
  height: 100%;
}

#left {
  background-color: cyan;  
  display: flex;
  justify-content: center;
  align-items: center;
}

#right {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginForm {
  width: inherit;
}